{% extends "user/main_homepage.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <h2 class="justify-content-center mb-4">History Transaction</h2>
      <table class="table table-striped table-hover">
        <thead class="table-dark" style="box-shadow: 8px 2px 5px grey">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Product </th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Item Price</th>
            <th scope="col">Total Transaction Price</th>
          </tr>
        </thead>
        <tbody class="table-secondary">
            {% for item in hist %}
                <tr style="box-shadow: 8px 2px 5px grey">
                    {% if item. %}{% endif %}
                    <td>
                        {{forloop.counter}}                        
                    </td>
                    <td>
                        {{item.transaction_id}}
                    </td>
                    <td>
                        {% for p in item.orderitem_set.all %}
                            <p>
                                {% if p != item.orderitem_set.all.0 %}
                                    <hr>
                                {% endif %}
                                {{p.product.name}}
                            </p> 
                        {% endfor %}                        
                    </td>
                    <td>
                        {% for p in item.orderitem_set.all %}
                            {% if p != item.orderitem_set.all.0 %}
                            <hr>
                            {% endif %}
                            <p style="text-align:center">
                                {{p.quantity}}
                            </p> 
                        {% endfor %}
                    </td>
                    <td>
                        {% for p in item.orderitem_set.all %}
                            {% if p != item.orderitem_set.all.0 %}
                            <hr>
                            {% endif %}
                            <p>
                                IDR {{p.product.price|floatformat:2}}
                            </p> 
                        {% endfor %}
                    </td>
                    <td>
                        {% for p in item.orderitem_set.all %}
                            {% if p != item.orderitem_set.all.0 %}
                            <hr>
                            {% endif %}
                            <p>
                                IDR {{p.get_total|floatformat:2}}
                            </p> 
                            {% endfor %}                        
                    </td>
                    <td>
                        IDR {{item.get_cart_total|floatformat:2}}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}

