{% extends "user/main_homepage.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
<div class="row row-profile justify-content-center">
    {% comment %} <div > {% endcomment %}
        {% comment %} {% include "account/profile_sidebar.html" %} {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="col-md-9 d-flex flex-column align-items-center">
        <div>
            <h3 class="text-accent font-weight-semibold mb-3 float-left">My Profile</h3>
        </div>
        <div class="clearfix"></div>
        <div class="rounded" style="background-color: lightgrey; padding: 10px 20px 20px 30px;">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
